In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [2]:
book  =  pd.read_csv("Books.csv")

C:\Users\zaeem\AppData\Local\Temp\ipykernel_10404\3119971514.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book  =  pd.read_csv("Books.csv")

In [3]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
book.shape

(271360, 8)

In [5]:
book.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
book.drop(columns = ['Image-URL-S','Image-URL-M','Image-URL-L'],axis = 1,inplace = True)

In [7]:
book.shape

(271360, 5)

In [8]:
book.rename(columns = {'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace = True)

In [9]:
user =  pd.read_csv("Users.csv")

In [10]:
user.head(2)
user.rename(columns = {'User-ID':'id','Location':'location','Age':'age'},inplace = True)
user.shape

(278858, 3)

In [11]:
rating =  pd.read_csv("Ratings.csv")
rating.rename(columns =  {'User-ID':'id','Book-Rating':'rating'},inplace = True)

In [12]:
rating.head()

       id        ISBN  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [13]:
x =  rating['id'].value_counts() > 200

In [14]:
x = x[x ==  True]

In [15]:
y = x.index

In [16]:
rating = rating[rating['id'].isin(y) == True]

In [17]:
book_rating =  rating.merge(book, on='ISBN' )

In [18]:
book_rating.shape

(487671, 7)

In [19]:
book_rating.sample(5)

,id,ISBN,rating,title,author,year,publisher
389202,225986,0571200818,0,A Closed Book,Gilbert Adair,1999,Faber &amp; Faber
162188,95193,0517584158,0,Miami,Pat Booth,1992,Crown Publishing Group (NY)
356723,205735,0373707576,10,"Doctors In The House (Harlequin Superromance, ...",Ellen James,1997,Harlequin
358865,206979,0891918329,0,Secret of the Silver Candlestick (Time Twist A...,Margaret Wallworth,1984,Cook Communications Ministries intl
15494,11601,0684874350,0,ANGELA'S ASHES,Frank McCourt,1996,Scribner

In [20]:
rating_number = book_rating.groupby('title')['rating'].count().reset_index()

In [21]:
rating_number.rename(columns = {'rating':'number of rating'},inplace = True)

In [22]:
rating_number

                                                    title  number of rating
0        A Light in the Storm: The Civil War Diary of ...                 2
1                                   Always Have Popsicles                 1
2                    Apple Magic (The Collector's series)                 1
3        Beyond IBM: Leadership Marketing and Finance ...                 1
4        Clifford Visita El Hospital (Clifford El Gran...                 1
...                                                   ...               ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...                 3
160265                                      Ã?Â?lpiraten.                 1
160266                     Ã?Â?rger mit Produkt X. Roman.                 1
160267                              Ã?Â?stlich der Berge.                 1
160268                                  Ã?Â?thique en toc                 1

[160269 rows x 2 columns]

In [23]:
df = rating_number.merge(book_rating,on = 'title')

In [24]:
df.head()

,title,number of rating,id,ISBN,rating,author,year,publisher
0,A Light in the Storm: The Civil War Diary of ...,2,35859,0590567330,0,Karen Hesse,1999,Hyperion Books for Children
1,A Light in the Storm: The Civil War Diary of ...,2,96448,0590567330,9,Karen Hesse,1999,Hyperion Books for Children
2,Always Have Popsicles,1,172742,0964147726,0,Rebecca Harvin,1994,Rebecca L. Harvin
3,Apple Magic (The Collector's series),1,198711,0942320093,0,Martina Boudreau,1984,Amer Cooking Guild
4,Beyond IBM: Leadership Marketing and Finance ...,1,11601,0962295701,0,Lou Mobley,1989,"Teleonet, Incorporated"

In [25]:
df.shape

(487671, 8)

In [26]:
df = df[df['number of rating']>=50]

In [27]:
df.shape

(61853, 8)

In [28]:
df.drop_duplicates(['title','id'],inplace = True)

In [29]:
df.shape

(59850, 8)

In [30]:
df.tail()

,title,number of rating,id,ISBN,rating,author,year,publisher
487432,"\O\"" Is for Outlaw""",105,268330,0449003787,0,SUE GRAFTON,2001,Ballantine Books
487433,"\O\"" Is for Outlaw""",105,269566,0449003787,0,SUE GRAFTON,2001,Ballantine Books
487434,"\O\"" Is for Outlaw""",105,269719,0449003787,0,SUE GRAFTON,2001,Ballantine Books
487435,"\O\"" Is for Outlaw""",105,269728,0449003787,0,SUE GRAFTON,2001,Ballantine Books
487436,"\O\"" Is for Outlaw""",105,274301,0449003787,8,SUE GRAFTON,2001,Ballantine Books

In [31]:
pivot =  df.pivot_table(columns ='id',index= 'title',values='rating')

In [32]:
pivot.head()

id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [33]:
pivot.fillna(0,inplace= True)

In [34]:
pivot.head()

id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [35]:
sparse  = csr_matrix(pivot)
type(sparse)

scipy.sparse._csr.csr_matrix

In [36]:
model = NearestNeighbors(algorithm='brute')

In [37]:
model.fit(sparse)

NearestNeighbors(algorithm='brute')

In [68]:
distance, suggestion = model.kneighbors(pivot.iloc[54,:].values.reshape(1,-1),n_neighbors = 6)

In [69]:
distance

array([[ 0.        , 42.34383072, 43.48562981, 43.50861984, 43.56604182,
        43.89760814]])

In [70]:
(suggestion)

array([[ 54, 184, 291, 440, 393, 372]], dtype=int64)

In [71]:
for i in range (len(suggestion)):
    print (pivot.index[suggestion[i]])

Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty', 'No Safe Place'],
      dtype='object', name='title')

In [54]:
for i in range (len(suggestion)):
    print (pivot.index[suggestion[i]])

[array([237, 238, 240, 241, 184, 536], dtype=int64)]

In [67]:
np.where(pivot.index=='Animal Farm')[0][0]

54

In [75]:
def recommend_book(book_name):
    try:
        book_id = np.where(pivot.index == book_name)[0][0]
        distance, suggestions = model.kneighbors(pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
        print(f"Recommendations for '{book_name}':")
        for i in range(1, len(suggestions.flatten())):
            print(f"- {pivot.index[suggestions.flatten()[i]]}")

    except IndexError:
        print(f"Book '{book_name}' not found in the database.")

In [76]:
recommend_book('Animal Farm')

Recommendations for 'Animal Farm':
- Exclusive
- Jacob Have I Loved
- Second Nature
- Pleading Guilty
- No Safe Place

In [80]:
suggestion.flatten()

array([[ 54, 184, 291, 440, 393, 372]], dtype=int64)